<div class="row">
    {% for album in albums %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ album.name }}</h5>
                <p class="card-text"><small class="text-muted">{{ album.created_at }}</small></p>
                <a href="" type="button" class="btn btn-outline-primary">
                    Detail
                </a>

              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>