{% if not field_only %}
    {% csrf_token %}
{% endif %}

{% for error in form.non_field_errors %}
   <p class="text-danger">{{ error }}</p>
{% endfor %}

{% for field in form %}
   <p><label class="h6" for="{{ field.id_for_label }}">{{ field.label }}</label></p>
   {% for error in field.errors %}
       <p class="text-danger h6">{{ error }}</p>
   {% endfor %}
   <p {% if field.errors %} class="text-danger"{% endif %}>{{ field }}</p>
{% endfor %}
{% if not field_only %}
    <p><input type="submit" value="{{ button_text }}"></p>
{% endif %}