    <div class="row">
    {% for photo in photos %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img class='img' src="{{ photo.photo.url }}" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ photo.title }}</h5>
                <p class="card-text">
                    Author:{{ photo.author }}
                    {% if photo.album %}
                        <br>
                    Album: <a href="{% url 'webapp:album-view' photo.album.id %}">{{ photo.album }}</a>
                    {% endif %}
                </p>
                <p class="card-text"><small class="text-muted">{{ photo.created_at }}</small></p>
                <a href="{% url 'webapp:photo-view' photo.id %}" type="button" class="btn btn-outline-primary">
                    Detail
                </a>
                 <a class='sbmt' type="submit" data-act="{{ photo.id }}" onclick="calc(event);">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                          <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                        </svg>
                 </a>

              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
<script>

function prvDefaultbtns() {
    btns = document.getElementsByClassName('sbmt')
    for (btn of btns) {
        btn.addEventListener("click", function (event) {
            event.preventDefault()
        });
    }
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function set_csrf(){
    const requestURL = 'http://localhost:8000/api/token/'

    function sendRequest(method, url, body = null) {
        const headers = {
            'Content-Type': "application/json",
        }
        return fetch(url, {
            method: method,
            headers: headers
        }).then(response => {
            if (response.ok) {
                return response
            }
            return response.json().then(error => {
                const e = new Error("oops something went wrong")
                e.data = error
                throw e
            })
        })
    }
    sendRequest('GET', requestURL)
        .then(data => {})
        .catch(err => console.log(err))
}
function calc(event) {
    let a = document.getElementById('fnum').value;
    let b = document.getElementById('snum').value;
    let result = document.getElementById('result')

    let requestURL = `http://localhost:8000/api/${ACTIONS[event.currentTarget.dataset.act]}/`

    function sendRequest(method, url, body = null, csrftoken = null) {
        const headers = {
            'Content-Type': "application/json",
            'X-CSRFToken':csrftoken,

        }
        return fetch(url, {
            method: method,
            body: JSON.stringify(body),
            headers: headers
        }).then(response => {
            return response.json()
        })
    }

    body = {
        A: a,
        B: b,
    }
    console.log('body=',body)

    let csrftoken = getCookie('csrftoken')
    console.log('token=',csrftoken)
    sendRequest('POST', requestURL, body,csrftoken )
        .then(data => {
            console.log(data)
            if (data.answer){
                result.innerText=data['answer']
                result.className=('text-success')
            }
            else if (data.error){
                result.innerText=data['error']
                result.className=('text-danger')
            }

        })
        .catch(err => {
            console.log('chek3')
            {#console.log(err)#}
            result.innerText=data['error']
            result.className=('text-danger')

        })
}
window.addEventListener('load', set_csrf)
window.addEventListener('load', prvDefaultbtns)
</script>