{% extends 'base.html' %}
{% block nav %}
{% if user.is_authenticated and perms.gallery.change_photo or is_author %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'webapp:photo-update' photo.id %}">Update</a>
  </li>
{% endif %}
{% if user.is_authenticated and perms.gallery.delete_photo or is_author %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'webapp:photo-delete' photo.id %}">Delete</a>
  </li>
{% endif %}

{% endblock nav %}
{% block content %}
    <div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img class='img' src="{{ photo.photo.url }}" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
        <p class="card-text">
            Author:{{ photo.author }}
            {% if photo.album %}
                <br>
            Альбом: <a href="{% url 'webapp:album-view'  photo.album.id %}">{{ photo.album }}</a>
            {% endif %}
        </p>
        <p class="card-text"><small class="text-muted">{{ photo.created_at }}</small></p>
      </div>
    </div>
  </div>

{% if  is_author %}
    {% if photo.link %}
        /uuid/{{ photo.link }}
    {% else %}
        <a type="button" href="{% url 'webapp:get-uuid' photo.id %}"  class="btn btn-outline-success">Get uuid</a>
    {% endif %}
{% endif %}
    <div class="text-center">
        Users who liked:
      {% for user in photo.favorite.all %}
          <a href="{% url 'user-detail' user.id %}">{{ user.username }}</a>
          {% if not forloop.last %}
          {% endif %}
          {% empty %}
          Nobody liked..
      {% endfor %}

    </div>
</div>
{%  endblock content %}